<div class="container">
	<h1 class="services_taital">Trip</h1>
	<div class="services_section_2">
		<div class="row">
			<div class="col-md-4">
				<div>
					<img th:src="@{/images/trip.jpg}" class="services_img">
				</div>
				<div class="btn_main active">
					<a href="#">여행지</a>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<img th:src="@{/images/food.jpg}" class="services_img">
				</div>
				<div class="btn_main active">
					<a href="#">맛집</a>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<img th:src="@{/images/festival.jpg}" class="services_img">
				</div>
				<div class="btn_main active">
					<a href="#">축제</a>
				</div>
			</div>
		</div>
	</div>
</div>