<style>

</style>

<!-- contact section start -->
<div class="contact_section layout_padding"
	style="margin-bottom: 500px;">

	<div class="text-center">
		<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">마이페이지</h6>
		<h1>1:1 문의</h1>
	</div>

		<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="col-sm-12">
	      
			<table>
		        <thead>
		            <tr>
		                <th>제목</th>
		                <th>내용</th>
		                <th>답변여부</th>
		                <th>날짜</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
		    </table>
			<button type="button" class="btn btn-primary" id = "writeBtn" ><a th:href="@{/inquiry/write}">글쓰기</a></button>
		</div>
	</div>
</div>
</div>
<!-- contact section end -->
