<style>
#send{
	color: ffffff;
	border:1px solid green;
}
#send:hover{
	color:green;
}
</style>
<!-- contact section start -->
<div class="contact_section layout_padding" style="margin-bottom:500px;">
	
		<div class="text-center">
			<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">마이페이지</h6>
			<h1>1:1 문의</h1>
		</div>
		
		<form class="container" th:action="@{/inquiry/inquirywriteok}" method="post">
		
		<div class="email_text">
			
			<div class="form-group">
				<input type="text" class="email-bt" placeholder="제목"
					name="icate">
			</div>
			<div class="form-group">
				<textarea class="massage-bt" placeholder="내용" rows="5"
					id="comment" name="icontent"></textarea>
			</div>
			<div class="form-group">
				<input type="file" class="email-bt" placeholder="첨부파일" name="file">
			</div>
			
			<div class="send_btn">
				<button type="submit" id="send">SEND</button>
			</div>
		</div>
	</form>
</div>
<!-- contact section end -->