@charset "UTF-8";

.container{
	width: 100%;
	float: left;
    padding-bottom: 90px;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
}

.services_img {
    width: 100%;
    float: left;
    text-align: center;
    border-radius: 20px;
}